* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    margin: 0 auto;
    font-family: 'Segoe UI';
}
.head {
    background: url(img/Group\ 348.png) right no-repeat;
}
.header {
    min-height: 723px;
    position: relative;
    background: url(img/Group\ 347.png) left no-repeat;
}
.header__flex {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}
.header__organization {
    background: url(img/logo.png) no-repeat left center;
    margin-top: 36px;
    /* padding-right: 79px; */
    margin-left: 103px;
    min-width: 211px;
    height: 20.59px;
}
.header__burger {
    display: none;
}
.header__navigation {
    padding: 37px 25px 0 0;
}
.header__navigation ul {
    display: flex;
    /* align-items: baseline; */
    column-gap: 26px;
    row-gap: 10px;
    list-style: none;
}
.header__navigation ul li a{
    font-size: 16px;
    color: #000;
    font-weight: 400;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1.5px;
    transition: background-size .3s;
}
.header__navigation ul li a:hover {
    color: #FF8C00;
    background-size: 100% 1.5px;
}
.header__number {
    margin-right: 102px;
    margin-top: 35px;
}
.header__number p {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1.5px;
    transition: background-size .3s;
}
.header__number p:hover {
    color: #FF8C00;
    background-size: 100% 1.5px;
}
.header__number a {
    font-size: 13px;
    color: #000;
    cursor: pointer;
}
.header__number a:hover {
    color: #FF8C00;
}
.header__joinButton {
    position: absolute;
    z-index: 2;
    width: 293px;
    height: 62px;
    background: url(img/calendar.png) no-repeat 13px 13px, #2a2727;
    border: 2px solid #2a2727;
    border-radius: 58px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    line-height: 38px;
    padding-left: 42px;
    cursor: pointer;
    bottom: 160px;
    left: 103px;
}
.header__joinButton:hover {
    border: 2px solid white;
}
.body__menu {
    display: flex;
    justify-content: space-between;
    margin: 0 73px 95px 103px;  
}
.body__menu-block {
    width: 144px;
    height: 173px;
    opacity: 0;  
}
.body__menu-block.one {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-right: 10px;
}
.body__menu-block.two {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-right: 10px;
}
.body__menu-block.three {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 6s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-right: 10px;
}
.body__menu-block.four {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 8s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-right: 10px;
}
.body__menu-block.five {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.green-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #BFE142;
    margin-bottom: 15px;
}
.green-circle.one {
    animation: coin-rotate 10s infinite 2s;
}
.green-circle.two {
    animation: coin-rotate 10s infinite 4s;
}
.green-circle.three {
    animation: coin-rotate 10s infinite 6s;
}
.green-circle.four {
    animation: coin-rotate 10s infinite 8s;
}
.green-circle.five {
    animation: coin-rotate 10s infinite 10s;
}
@keyframes coin-rotate {
    0% {
      transform: rotateY(0);
    }
    10% {
      transform: rotateY(360deg);
    }
    20% {
      transform: rotateY(0);
    }
}
.icons {
    font-size: 70px;
    line-height: 120px;
    text-align: center;
    color: #fff;
}
.icons:hover {
    animation: rotating 0.5s linear forwards;
}
@keyframes rotating {
    0%   { transform: rotate(0deg) scale(1); }
    100% { transform: rotate(25deg) scale(1.1); }
}
.body__menu p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}
.body {
    background: url(img/body-head-img.png) no-repeat right 163px;
}
.body__head-title{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 61px;
}
.body__head-title h2 {
    font-weight: 700;
    font-size: 35px;  
}
.body__head-line {
    content: '';
    width: 100px;
    height: 2px;
    background-color: gray;
    margin: 24px auto;
}
.body__head-line2 {
    font-weight: 400;
    font-size: 14px;;
}
.body__container {
    margin-left: 96px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    row-gap: 45px;
    column-gap: 50px;
}
.body__container-block {
    width: 28%;
    /* margin-bottom: 45px;
    margin-right: 50px; */
}
.body__container-block:hover {
    box-shadow: 0 0 15px 5px rgba(226, 201, 201, .5);
}
.body__container-block img {
    width: 100%;
}
.body__container-block h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 24px;
    margin-top: 27px;
}
.body__container-block p {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #63A233;
    padding-left: 24px;
    margin-bottom: 17px;
    margin-top: 31px;
}
.container-block__table {
    margin-left: 18px;
    margin-bottom: 15px;
}
.container-block__table td {
    width: 90px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.breakfast {
    background: url(img/breakfast.png) no-repeat left;
    padding-left: 27px;
}
.snack {
    background: url(img/snack.png) no-repeat left;
    padding-left: 27px;
}
.dinner {
    background: url(img/dinner.png) no-repeat left;
    padding-left: 27px;
}
.supper {
    background: url(img/supper.png) no-repeat left;
    padding-left: 27px;
}
.container-block__list li {
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 40px;
}
.body__container-joinBth {
    width: 248px;
    height: 62px;
    background-color: white;
    border: 2px solid red;
    border-radius: 58px;
    font-weight: 700;
    font-size: 16px;
    color: red;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 49px;
    margin-left: 25px;
}
.body__container-joinBth:hover {
    color: white;
    background-color: red;
}
.body-line {
    content: '';
    width: 64%;
    height: 0px;
    border: 1px solid grey;
    margin: 88px 0 42px 103px ;
}
.body-information {
    margin-left: 103px;
    background: url(img/breckets.png) no-repeat;
}
.experience {
    width: 55%;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 22.4px;
    padding-left: 93px;
    margin-bottom: 42px;
}
.experience-author {
    background: url(img/author.png) no-repeat;
    margin: 0 0 62px 93px;
    height: 87px;
}
.experience__author {
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    padding-left: 109px;
    margin-bottom: 8px;
}
.information-about-author {
    width: 35%;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #63A233;
    padding-left: 109px;
}
.bottom {
    margin-top: 0;
    margin-bottom: 0;
}
.body__background1 {
    background: url(img/cucumber.png) no-repeat 0px 1310px;
}
.body__background2 {
    background: url(img/background-right.png) no-repeat right 795px;
}
.delivery {
    margin: 119px 103px 68px 103px;
}
.delivery__title {
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    margin-bottom: 73px;
}
.delivery__map img {
    width: 100%;
}
.flex-text {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}
.flex-text-left {
    max-width: 50%;
    /* height: 90px;
    width: 537px; */
}
.flex-text-left p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    padding-right: 62px;
}
.flex-text-right {
    max-width: 50%;
    /* width: 561px;
    height: 103px; */
}
.flex-text-right p {
    /* height: 59px;
    width: 413px; */
    box-sizing: border-box;
    border: 2px dashed #63A233;
    border-radius: 4px;
    background: url(img/attention.png) no-repeat 37px 31px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    padding: 28px 48px 28px 100px;
}
.instagram {
    /* height: 746px;
    width: 1162px; */
    margin: 0 100px 122px 100px;
}
.instagram-title {
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    margin-bottom: 24px;
}
.instagram-line {
    content: '';
    width: 87px;
    height: 0px;
    border: 1px solid grey;
    margin: 0 auto ;
}
.instagram-line2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    margin-top: 21px;
    word-spacing: 10px;
}
.instagram-line2 span {
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
}
.instagram__flex {
    margin-top: 67px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 9px;
    row-gap: 9px;
    /* height: 578px; */
}
.instagram__img {
    max-width: 280px;
    max-height: 281px;
}
.instagram__img img {
    max-width: 100%;
}
.inst-back1 {
    background: url(img/instagram-left.png) no-repeat left 733px;
}
.inst-back2 {
    background: url(img/instagram-right.png) no-repeat right 775px;
    position: relative;
}
.connection {
    background: url(img/connection-back.png) no-repeat right 600px;
}
.connection__title {
    height: 242px;
    background: url(img/connection-title.png) no-repeat center;
}
.connection__form {
    /* height: 538px; */
    /* width: 928px; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    column-gap: 65px;
    padding: 0 219px 65px;
}
.personal-info {
    position: relative;
    margin-bottom: 60px;
}
.imput-info {
    border: none;
    border-bottom: 1px #fff solid;
    width: 431.5px;
    padding-top: 27px;
    background: #282828;
    color: #fff;
    outline: none;
}
.imput-label {
    color: #fff;
    position: absolute;
    left: 0;
}
.select-form {
    border: none;
    border-bottom: 1px #fff solid;
    width: 431.5px;
    padding-top: 27px;
    background: #282828;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.radio-text {
    color: #fff;
}
.radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 7px;
}
.radio + label {
    display: inline-flex;
	position: relative;
	padding: 0 30px 0 40px;
	cursor: pointer;
}
.radio + label:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 19px;
	height: 19px;
	border: 2px solid #CDD1DA;
	border-radius: 50%;
}
.radio + label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 6px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #fff;
	opacity: 0;
	transition: .2s;
}
.radio:checked + label:after {
	opacity: 1;
}
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    cursor: pointer;
}
.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.checkbox+label::before {
    content: '';
    width: 19px;
    height: 19px;
    border: 2px solid #fff;
    margin-right: 19px;
}
.checkbox:checked+label::before {
    background: url("img/check.png") no-repeat center center ;
}
.checkbox__text {
    color: #fff;
    cursor: pointer;
}
.small {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}
.textarea {
    min-height: 120px;
}
.submit {
    height: 62px;
    width: 220px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 58px;
    background: #282828;
    cursor: pointer;
    transition: background 1s ease 0s, color 1s ease 0s, box-shadow 1s ease 0s;
}
.submit:hover {
    background: #fff;
    color: black;
    box-shadow: 0 0 15px 3px rgba(255, 255, 255, .4);
}
.inst-back3 {
    width: 30%;
    position: absolute;
    top: 1628px;
}
.inst-back3 img {
    width: 100%;
}
.connection-back {
    background: #282828;
}
.footer {
    position: relative;
    min-height: 202px;
    min-width: 100%;
    background-color: black;
}
.page-footer {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 48px;
}
.footer__organization {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 88px;
    width: 211px;
    margin-left: 108px;
}
.footer__organization img {
    width: 100%;
}
.footer__organization p {
    color: #d1d3d4;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
.footer__adress ul {
    list-style-type: none;
    color: white;
}
.footer__adress li {
    line-height: 1.8;
}
.numberFooter {
    font-size: 18px;
    font-weight: 700;
}
.adressFooter {
    font-weight: 400;
    font-size: 14px;
    color: #d1d3d4;
}
.footer__adress a {
    font-size: 12px;
    font-weight: 400;
    color: #d1d3d4;
}
.footer__Network {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #d1d3d4;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
.footer__Network span {
    font-size: 14px;
    font-weight: 500;
    color: white;
}
.footer__socialNetwork {
    display: flex;
    flex-wrap: wrap;
    margin-right: 77px;
}
.footer__socialNetwork img {
    width: 32px;
    height: 32px;
    margin-right: 26px;
}
@media (max-width: 1346px) {
    .inst-back3 {top: 1919px;}
}
@media (max-width: 1300px) {
    .head {
        background: url(img/Group\ 348_1200px.png) right 50px no-repeat;
    }
    .header {
        min-height: 683px;
        background: url(img/Group\ 347_1200px.png) left top no-repeat;
    }
    .header__joinButton {
        bottom: 155px;
    } 
    .body__background1 {
        background: url(img/cucumber.png) no-repeat 0px 1228px;
    }
    .body__background2 {
        background: url(img/background-right.png) no-repeat right 637px;
    }
    .inst-back3 {top: 1863px;}
}    
@media (max-width: 1200px) {
    .header__organization {
        padding-right: 45px;
    }
    .header__navigation ul li a {
        font-size: 14px;
    }
    .header__number p {
        font-size: 16px;
    }
    .header__number a {
        font-size: 11px;
    }
    .head {
        background: url(img/Group\ 348_992px.png) right 50px no-repeat;
    }
    .header {
        min-height: 643px;
        background: url(img/Group\ 347_992px.png) left top no-repeat;
    }
    .header__joinButton {
        bottom: 150px;
    } 
    .body__background1 {
        background: url(img/cucumber.png) no-repeat 0px 1228px;
    }
    .body__background2 {
        background: url(img/background-right.png) no-repeat right 637px;
    }
}
@media (max-width: 1090px) {
    .header__organization {
        padding-right: 35px;
    } 
    .header__navigation ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .inst-back1 {
        background: url(img/instagram-left_1090px.png) no-repeat left 680px;
    }
    .inst-back2 {
        background: url(img/instagram-right_1090px.png) no-repeat right 775px;
    }
    .imput-info {
        width: 331.5px;
    }
    .select-form {
        width: 331.5px;
    }
    .radio-text.small {
        padding-bottom: 20px;
    }
    .body__container-block {
        width: 43%;
    }
    .body__background1 {
        background: url(img/cucumber.png) no-repeat 0px 2145px;
    }
    .body__background2 {
        background: url(img/background-right.png) no-repeat right 1436px;
    }
    .inst-back3 {top: 2045px;}
    .footer__organization {
        max-width: 188px;
    }
    .footer__adress {
        width: 220px;
    }
    .numberFooter {
        font-size: 17px;
    }
    .adressFooter {
        font-size: 13px;
    }
    .footer__socialNetwork img {
        width: 28px;
        height: 28px;
    }
    .footer__organization p {
        font-size: 11px;
    }
    .footer__Network {
        font-size: 11px;
    }
    .footer__Network span {
        font-size: 13px;
    }
}
@media (max-width: 922px) {
    .header__organization {
        background: url(img/logo_922px.png) no-repeat left center;
        min-width: 161px;
        margin-left: 82px;
    }
    .header__number {
        margin-right: 30px;
    }
    .header {
        min-height: 573px;
        background: url(img/Group\ 347_760px.png) left top no-repeat;
    }
    .head {
        background: url(img/Group\ 348_760px.png) right 50px no-repeat;
    }
    .header__joinButton {
        width: 252px;
        height: 48px;
        background: url(img/calendar.png) no-repeat 5px 5px, #2a2727;
        font-weight: 700;
        font-size: 14px;
        padding-left: 30px;
        bottom: 140px;
        left: 81px;
    }
    .body__menu-block {
        width: 134px;
        height: 153px;
    }
    .green-circle {
        width: 100px;
        height: 100px;
    }
    .icons {
        font-size: 60px;
        line-height: 100px;
    }
    .body__menu p {
        font-size: 14px;
    }
    .body {
        background: url(img/body-head-img_922px.png) no-repeat right 206px;
    }
    .body__container-joinBth {
        width: 60%;
        max-height: 44px;
        font-size: 65%;
    }
    .body__background1 {
        background: url(img/cucumber.png) no-repeat 0px 1983px;
    }
    .body__background2 {
        background: url(img/background-right_922px.png) no-repeat right 1376px;
    }
    .experience {
        font-size: 14px;
    }
    .experience__author {
        font-size: 20px;
    }
    .information-about-author {
        font-size: 11px;
    }
    .flex-text-left p {
        font-size: 12px;
    }
    .flex-text-right p {
        background: url(img/attention.png) no-repeat 12px 31px;
        font-size: 12px;
        line-height: 15px;
        padding: 28px 12px 28px 68px;
    }
    .instagram-line2 {
        font-size: 12px;
        word-spacing: 5px;
    }
    .instagram__flex {
        margin-top: 46px;
    }
    .instagram__img {
        max-width: 45%;
    }
    .inst-back1 {
        background: url(img/instagram-left_1090px.png) no-repeat left 526px;
    }
    .inst-back2 {
        background: url(img/instagram-right_1090px.png) no-repeat right 574px;
    }
    .inst-back3 {top: 2000px;}
    .imput-info {width: 261.5px;}
    .select-form {width: 261.5px;}
    .footer__organization {
        max-width: 188px;
        margin-left: 45px;
    }
    .footer__adress {
        width: 150px;
    }
    .numberFooter {
        font-size: 15px;
    }
    .adressFooter {
        font-size: 11px;
    }
    .footer__adress a {
        font-size: 11px;
    }
    .footer__socialNetwork {
        margin-right: 35px;
    }
    .footer__socialNetwork img {
        width: 24px;
        height: 24px;
        margin-right: 15px;
    }
    .footer__organization p {
        font-size: 9px;
    }
    .footer__Network {
        font-size: 9px;
    }
    .footer__Network span {
        font-size: 11px;
    }
    .connection {
        background: url(img/connection-back.png) no-repeat right 700px;
    }
}
@media (max-width: 760px) {
    .inst-back3 {top: 1815px;}
    .body__background1 {
        background: url(img/cucumber.png) no-repeat 0px 2050px;
    }
    .header__organization {
        margin-left: 74px;
    }
    .header {
        min-height: 533px;
        background: url(img/Group\ 347_680px.png) left top no-repeat;
    }
    .head {
        background: url(img/Group\ 348_680px.png) right 50px no-repeat;
    }
    .header__joinButton {
        bottom: 134px;
        left: 74px;
    }
    .body__background2 {
        background: url(img/background-right_922px.png) no-repeat right 1277px;
    }
}
@media (max-width: 680px) {
    .header__organization {
        background: url(img/logo_680px.png) no-repeat left center;
        min-width: 111px;
        padding-right: 20px;
        margin-left: 57px;
    }
    .header__navigation ul li a {
        font-size: 12px;
    }
    .header__number p {
        font-size: 14px;
    }
    .header__number a {
        font-size: 9px;
    }
    .head {
    background: url(img/Group\ 348_510px.png) right 80px no-repeat;
    }
    .header {
    min-height: 400px;
    background: url(img/Group\ 347_510px.png) left top no-repeat;
    }
    .header__joinButton {
        width: 167px;
        height: 40px;
        background: url(img/calendar_510px.png) no-repeat 7px 8px, #2a2727;
        font-size: 9px;
        line-height: 0px;
        padding-left: 22px;
        bottom: 96px;
        left: 55px;
    }
    .body__menu {
        margin: 0 60px 95px 60px;
    }
    .body__menu-block {
        width: 104px;
        height: 123px;
    }
    .green-circle {
        width: 70px;
        height: 70px;
    }
    .icons {
        font-size: 45px;
        line-height: 70px;
    }
    .body__menu p {
        font-size: 11px;
    }
    .body {
        background: url(img/body-head-img_922px.png) no-repeat right 165px;
    }
    .body__container {
        margin-left: 65px;
    }
    .body__container-block {
        width: 38%;
    }
    .body__container-block h3 {
        font-size: 20px;
    }
    .body__container-block p {
        font-size: 12px;
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .breakfast {
        background: url(img/breakfast_510px.png) no-repeat left;
        padding-left: 20px;
    }
    .snack {
        background: url(img/snack_510px.png) no-repeat left;
        padding-left: 20px;
    }
    .dinner {
        background: url(img/dinner_510px.png) no-repeat left;
        padding-left: 20px;
    }
    .supper {
        background: url(img/supper_510px.png) no-repeat left;
        padding-left: 20px;
    }
    .container-block__table td {
        width: 60px;
        font-size: 13px;
    }
    .container-block__list li {
        font-size: 12px;
    }
    .body__container-joinBth {
        width: 60%;
        max-height: 35px;
        font-size: 45%;
        margin-top: 30px;
    }
    .body__background2 {
        background: url(img/background-right_510px.png) no-repeat right 1277px;
    }
    .body__background1 {
        background: url(img/cucumber.png) no-repeat 0px 1741px;
    }
    .body-information {
        margin-left: 103px;
        background: url(img/breckets_680px.png) no-repeat left 12px;
    }
    .experience {
        font-size: 12px;
        padding-left: 54px;
    }
    .experience-author {
        background: url(img/author_680px.png) no-repeat;
        margin: 0 0 55px 55px;
    }
    .experience__author {
        padding-left: 84px;
        font-size: 16px;
    }
    .information-about-author {
        padding-left: 84px;
        font-size: 9px;
    }
    .delivery {
        margin: 80px 103px 68px 103px;
    }
    .flex-text-left p {
        font-size: 10px;
        line-height: 15px;
    }
    .flex-text-right p {
        background: url(img/attention_680px.png) no-repeat 12px 31px;
        font-size: 10px;
        padding: 28px 12px 28px 45px;
    }
    .connection__form {font-size: 12px;}
    .imput-info {width: 161.5px;}
    .select-form {width: 161.5px;}
    .radio + label:before {
        width: 14px;
        height: 14px;
    }
    .radio + label:after {
        top: 2px;
        left: 5px;
        width: 8px;
        height: 8px;
    }
    .checkbox+label {
        align-items: flex-start;
    }
    .checkbox+label::before {
        width: 17px;
        height: 10px;
    }
    .small {
        font-size: 10px;
    }
    .submit {
        height: 38px;
        width: 131px;
        font-size: 13px;
        font-weight: 700;
        line-height: 0;
    }
    .footer__organization {
        max-width: 130px;
        margin-left: 45px;
    }
    .footer__adress {
        width: 130px;
    }
    .numberFooter {
        font-size: 13px;
    }
    .adressFooter {
        font-size: 9px;
    }
    .footer__adress a {
        font-size: 9px;
    }
    .footer__socialNetwork img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    .footer__organization p {
        font-size: 7px;
    }
    .footer__Network {
        font-size: 7px;
    }
    .footer__Network span {
        font-size: 9px;
    }
    .inst-back3 {
        display: none;
    }
}
@media (max-width: 510px) {
    .header__organization {
        background: url(img/logo_320px.png) no-repeat left center;
        min-width: 91px;
        margin-top: 20px;  
        margin-left: 30px;
    }
    .header__navigation {
        padding: 20px 13px 0 0;
    }
    .header__navigation ul {
        row-gap: 0px;
    }
    .header__navigation ul li a {
        font-size: 8px;
    }
    .header__number {
        margin-top: 26px;
    }
    .header__number p {
        font-size: 8px;
    }
    .header__number a {
    font-size: 7px;
    }
    .head {
    background: url(img/Group\ 348_510px.png) 289px 35px no-repeat;
    }
    .header {
    min-height: 300px;
    background: url(img/Group\ 347_320px.png) left top no-repeat;
    }
    .header__joinButton {
    width: 132px;
    height: 29px;
    background: url(img/calendar_510px.png) no-repeat 3px 3px, #2a2727;
    font-size: 7px;
    padding-left: 17px;
    bottom: 67px;
    left: 41px;
}
    .body__menu {
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 30px 50px 30px;
    }
    .body__menu-block {
        width: 65px;
        height: 93px;
    }
    .green-circle {
        width: 50px;
        height: 50px;
    }
    .icons {
        font-size: 32px;
        line-height: 50px;
    }
    .body__menu p {
        line-height: 10px;
        font-size: 8px;
    }
    .body__head-title {
        margin-bottom: 37px;
    }
    .body__head-title h2 {
        font-size: 20px;
    }
    .body__head-line2 {
        font-size: 10px;
    }
    .body {
        background: url(img/body-head-img_320px.png) no-repeat right 170px;
    }
    .body__container {
        margin-left: 35px;
    }
    .body__container-block h3 {
        margin-top: 16px;
        padding-left: 0px;
        font-size: 14px;
    }
    .body__container-block p {
        padding-left: 0px;
    }
    .container-block__list li {
        font-size: 8px;
        line-height: 14px;
        margin-left: 15px;
    }
    .container-block__table {
        margin-left: 0px;
    }
    .container-block__table td {
        display:inline-block;
        width: 40px;
        font-size: 10px;
    }
    .body__container-joinBth {
        width: 72%;
        height: 7%;
        font-size: 6px;
        margin-top: 20px;
        margin-bottom: 49px;
        margin-left: 0px;
    }
    .breakfast {
        background: url(img/breakfast_510px.png) no-repeat left;
        padding-left: 20px;
    }
    .snack {
        background: url(img/snack_510px.png) no-repeat left;
        padding-left: 20px;
    }
    .dinner {
        background: url(img/dinner_510px.png) no-repeat left;
        padding-left: 20px;
    }
    .supper {
        background: url(img/supper_510px.png) no-repeat left;
        padding-left: 20px;
    }
    .body__background2 {
        background: url(img/background-right_320px.png) no-repeat right 1050px;
    }
    .body__background1 {
        background: url(img/cucumber_320px.png) no-repeat 0px 1389px;
    }
    .body-line {
        width: 80%;
        margin: 88px 0 42px 30px;
    }
    .body-information {
        margin-left: 30px;
    }
    .experience {
        width: 65%;
        font-size: 10px;
        padding-left: 47px;
    }
    .experience-author {
        margin: 0 0 -60px 55px;
    }
    .experience__author {
        font-size: 12px;
        margin-bottom: 0px;
    }
    .information-about-author {
        width: 45%;
        font-size: 8px;
        line-height: 10px;
    }
    .delivery {
        margin: 48px 30px 68px 30px;
    }
    .delivery__title {
        font-size: 20px;
        margin-bottom: 35px;
    }
    .flex-text {
        margin-top: 12px;
    }
    .flex-text-left p {
        padding-right: 29px;
    }
    .flex-text-right p {
        background: url(img/attention_680px.png) no-repeat 6px 14px;
        padding: 14px 12px 14px 33px;
    }
    .inst-back1 {
        background: url(img/instagram-left_320px.png) no-repeat left 437px;
    }
    .inst-back2 {
        background: url(img/instagram-right_320px.png) no-repeat right 446px;
    }
    .instagram {
        margin: 0 30px 65px 30px;
    }
    .instagram-title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .instagram-line2 {
        font-size: 8px;
        word-spacing: 3px;
    }
    .instagram-line2 span {
        font-size: 10px;
        font-weight: 600;
        line-height: 15px;
    }
    .instagram__flex {
        margin-top: 25px;
    }
    .connection__title {
        height: 140px;
        background: url(img/connection-title_320px.png) no-repeat center;
    }
    .personal-info {
        margin-bottom: 30px;
    }
    .connection__form {
        width: 310px;
        margin: 0 auto;
        font-size: 10px;
        padding: 0 0 30px;
        column-gap: 30px;
    }
    .form-box {
        max-width: 139px;
    }
    .imput-info {width: 100%;}
    .select-form {width: 100%;}
    .radio + label:before {
        width: 11px;
        height: 11px;
    }
    .radio + label:after {
        top: 1px;
        left: 4px;
        width: 7px;
        height: 7px;
    }
    .radio + label {
        padding: 0 0px 0 21px;
    }
    .checkbox+label::before {
        width: 17px;
        height: 9px;
        margin-right: 8px;
    }
    .submit {
        height: 34px;
        width: 103px;
        font-size: 11px;
        font-weight: 700;
        line-height: 0;
    }
    .connection {
        background: url(img/connection-back_320px.png) no-repeat right 476px;
    }
    .footer {
        min-height: 130px;
    }
    .page-footer {
        top: 15px;
    }
    .footer__organization {
        max-width: 93px;
        margin-left: 10px;
    }
    .footer__adress {
        width: 90px;
    }
    .numberFooter {
        font-size: 10px;
    }
    .footer__adress a {
        font-size: 9px;
    }
    .footer__socialNetwork {
        margin-right: 10px;
    }
    .footer__socialNetwork img {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }
    .footer__organization p {
        font-size: 7px;
    }
    .footer__Network p {
        width: 66px;
    }
@media (max-width: 320px) {
}